.description-label {
    display: table;
    width: 100% !important;
    .description-field {
        width: 95% !important;
    }
}

.form-block {
    padding-top: 1em;
}


.section-edit {
    padding-top: 1em;

}

.testcase-grid {
    width: 95% !important;
}