<clr-datagrid>
  <clr-dg-column>Title</clr-dg-column>
  <clr-dg-column>Description</clr-dg-column>
  <clr-dg-column>Status</clr-dg-column>
  <clr-dg-column>Execution</clr-dg-column>

  <clr-dg-row *clrDgItems="let testSet of testSets | async">
    <clr-dg-cell>
      <a [routerLink]="['/projects', projectId, 'cycles', cycleId, 'testsets', testSet._id ]">{{testSet.title}}</a>
    </clr-dg-cell>
    <clr-dg-cell>{{testSet.description}}</clr-dg-cell>
    <clr-dg-cell>
      <span class="label" [ngClass]="{'label-success': testSet.status=='active','label-warning': testSet.status=='inactive','label-danger': testSet.status=='defect'}">{{testSet.status}}</span>
    </clr-dg-cell>
    <clr-dg-cell>
      <button class="btn btn-info-outline btn-sm controls" (click)="newTestSetExecution(testSet)" [disabled]="testSet.testCases.length === 0">Execute</button>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer *ngIf="testSets">
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} test sets
    <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="testSets.length"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>