<div class="clr-row title-bar">
  <div class="clr-col-md-8 ">
    <!-- Control UI -->
    <div *ngIf="folder">
      <div class="title">{{this.folder.title}}</div>
      <div class="description">
        {{folder.description}}
      </div>
    </div>
  </div>
  <div class="clr-col-md-4">
    <clr-dropdown class="controls-pane">
      <button clrDropdownTrigger type="button" class="dropdown-toggle">
        <clr-icon shape="cog" size="24"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <h4 class="dropdown-header">Projects</h4>
        <a *ngIf="testCaseId" clrDropdownItem [routerLink]="['/projects', projectId, 'testcases', 'edit', testCaseId]">Edit</a>
        <a *ngIf="!testCaseId" clrDropdownItem [routerLink]="['/projects', projectId, 'testcases', 'edit','new']">Add Test Case</a>
        <a *ngIf="testCaseId" clrDropdownItem [routerLink]="['/projects', projectId, 'testcases', 'new', 'parent', testCaseId]">Add Test Case</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</div>

<sprova-testcase-folder></sprova-testcase-folder>