<clr-main-container>
  <clr-header id="header">
    <div class="branding">
      <a href="#" class="nav-link">
        <clr-icon shape="home"></clr-icon>
        <span class="title">Sprova</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown class="dropdown" *ngIf="authenticationService.isLoggedIn()">
        <button class="nav-icon" clrDropdownToggle>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <a [routerLink]="['/settings']" clrDropdownItem>Settings</a>
          <a [routerLink]="['/users']" clrDropdownItem>Users</a>
          <a [routerLink]="['/login']" clrDropdownItem>Log out</a>
        </div>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <!-- VERTICAL NAV -->
    <clr-vertical-nav id="vertical-nav" *ngIf="authenticationService.isLoggedIn()" [clrVerticalNavCollapsible]="true"
      [(clrVerticalNavCollapsed)]="collapsed">

      <a clrVerticalNavLink [routerLink]="['/projects']">
        <clr-icon clrVerticalNavIcon shape="line-chart"></clr-icon>
        Projects
      </a>

      <a *ngIf="projectId" clrVerticalNavLink [routerLink]="['/projects', projectId, 'cycles']">
        <clr-icon clrVerticalNavIcon shape="sync"></clr-icon>
        Cycles
      </a>

      <a *ngIf="cycleId" clrVerticalNavLink [routerLink]="['/projects', projectId, 'cycles', cycleId, 'testsets']">
        <clr-icon clrVerticalNavIcon shape="pinboard"></clr-icon>
        Test Sets
      </a>

      <a *ngIf="projectId" clrVerticalNavLink [routerLink]="['/projects', projectId,'testcases']">
        <clr-icon clrVerticalNavIcon shape="file-group"></clr-icon>
        Test Cases
      </a>

      <a *ngIf="projectId && !cycleId && !testSetId" clrVerticalNavLink [routerLink]="['/projects', projectId,'report']">
        <clr-icon clrVerticalNavIcon shape="pie-chart"></clr-icon>
        Report
      </a>

      <a *ngIf="projectId && cycleId && !testSetId" clrVerticalNavLink [routerLink]="['/projects', projectId, 'cycles', cycleId, 'report']">
        <clr-icon clrVerticalNavIcon shape="pie-chart"></clr-icon>
        Report
      </a>

      <a *ngIf="projectId && cycleId && testSetId" clrVerticalNavLink [routerLink]="['/projects', projectId, 'cycles', cycleId, 'testset', testSetId, 'report']">
        <clr-icon clrVerticalNavIcon shape="pie-chart"></clr-icon>
        Report
      </a>

    </clr-vertical-nav>
  </div>
</clr-main-container>