<div class="clr-row">
  <div class="clr-col-md-12" *ngIf="model">
    <div class="btn-group btn-outline-primary btn-sm">
      <button class="btn" (click)="toParent()" [disabled]="!folder">
        <clr-icon shape="undo" title="Go back"></clr-icon>
      </button>
      <button class="btn" title="Delete selected" (click)="selected=selected?null:[]">
        <clr-icon shape="check" *ngIf="!selected"></clr-icon>
        <clr-icon shape="times" *ngIf="selected"></clr-icon>
      </button>
      <button class="btn" title="Copy selected" (click)="folderService.copy()" [disabled]="!folderService.canCopy">
        <clr-icon shape="copy"></clr-icon>
      </button>
      <button class="btn" title="Cut selected" (click)="folderService.cut()" [disabled]="!folderService.canCut">
        <clr-icon shape="scissors"></clr-icon>
      </button>
      <button class="btn" title="Paste copied items" (click)="paste()" [disabled]="!folderService.canPaste">
        <clr-icon shape="paste"></clr-icon>
      </button>
      <button class="btn" title="Delete selected" [disabled]="!selected">
        <clr-icon shape="trash"></clr-icon>
      </button>

    </div>
    <clr-datagrid [(clrDgSelected)]="selected" (clrDgSelectedChange)="selectionChanged($event)">
      <clr-dg-column>Title</clr-dg-column>
      <clr-dg-column>Description</clr-dg-column>

      <clr-dg-row *clrDgItems="let testCase of model | packageFilter:'isParent'" class="hand" [clrDgItem]="testCase">
        <clr-dg-cell (click)="open(testCase)">
          <clr-icon *ngIf="testCase.isParent" shape="folder" class="is-solid"></clr-icon>
          <clr-icon *ngIf="!testCase.isParent" shape="file"></clr-icon>{{testCase.title}}
        </clr-dg-cell>
        <clr-dg-cell>{{testCase.description}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer *ngIf="model">
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Test cases
        <clr-dg-pagination #pagination [clrDgPageSize]="10" [clrDgTotalItems]="model.length"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>