/* You can add global styles to this file, and also import other style files */
.hand {
    cursor: pointer;
}

.float-right {
    float: right !important;
}

.float-left {
    float: right !important;
}

.controls {
    margin-top: -.5rem !important;
    margin-bottom: -.5rem !important;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.margin-0 {
    margin: 0;
}

.text-center {
    text-align: center;
}