.description-label {
    width: 100% !important;
    .description-field {
        width: 95% !important;
    }
}
.form-block {
    padding-top: 2em;
}

.select-field-key {
    display: inline-flex;
    margin-right: .5em;
    margin-left: 1em;
}